<h2 align="center">Formulaire de contact</h2>
<h3>Formateur : {{formateur}}</h3>
<h4>Liste des noms :</h4>
<ul>
  <li *ngFor="let nom of noms">{{nom}}</li>
</ul>
Bienvenue à Angular
<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>


    <div class="col-sm-8">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

